{% extends 'base.html.1.twig' %} 

{% block body %} 
    <p> Bonjour {{collab.firstname}}  et bienvenue chez VBL Advisory. Voici quelques informations et instruction avant de commencer ton aventure chez nous. Premierement, ton mdp a été initliasé au mot password. Sers toi de ce mot de passe une seule fois pour ton premier login et n'oublie surout pas de le changer tout de suite apres ta premiere connection dans ton espace personelle en haut a gauche. Ensuite, viullez bien telecharger sous format PDF les documents dité 'document d'initation' qui sont les documents suivants </p>

    <ul>
      <li>  Ton CV </li>
      <li>  Une copie de ta carte d'identité </li>
      <li>  Ton RIB </li>
      <li>  Une Copie de ton passe Navigo </li>
      <li>  Ton Attestation de domicile. </li>
    </ul>

    Merci et bienvenue chez VBL!
{% endblock %}