{% extends 'base.html.1.twig' %} 

{% block body %} 
    <div> Bonjour, voici votre nouveau mot de passe: {{randomMDP}}   n'oublier pas de le modifier tout de suite lors de votre connexion </div>
{% endblock %}