{% extends 'base.html.1.twig' %} 

{% block body %} 
<div class="container col-sm-5 offet-sm-5">

<h1 class="text-center">Reset Mon MDP</h1>

    {{form_start(form)}}
    {{form_widget(form)}}
     <button type="submit" class="btn btn-primary bg-vbl mt-3 rounded-pill col-sm-4 offset-sm-4 bg-warning">Enregistrer</button>
     {{form_end(form)}}

</div>
{% endblock %}