{% extends 'base.html.twig' %}

{% block title %}Mofification du profil{% endblock %}

{% block body %}
<div class="container">

<h1 class="py-3 text-center">Modification du profil</h1>

    {{form_start(form)}}
    {{form_widget(form)}}
     <button type="submit" class="btn btn-primary bg-vbl mt-3 rounded-pill bg-warning col-sm-4 offset-sm-4">Enregistrer </button>
     {{form_end(form)}}

</div>

{% endblock %}