<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

        <title>VBL Advisory | Conseil en management</title>

        <meta name="description" content="VBL Advisory est un cabinet de conseil en organisation, conduite du changement et insertion opérationnelle"/>
        <meta name="keywords" content="cabinet, paris, consulting, agence, vbl, advisory, consultant, insertion opérationnelle, organisation, conduite de changement"/>
        <meta name="author" content="www.vbladvisory.com"/>

        <link rel="shortcut icon" href="/img/favicon.png" />
                            <link rel="stylesheet" type="text/css" href= "/css/reset.css" />
                <link rel="stylesheet" type="text/css" href="/css/style.css" />
                <link rel="stylesheet" type="text/css" href="/css/style-responsive.css" />				
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                <script src="https://kit.fontawesome.com/9de067ab75.js"></script>
                </head>
    <body>
            
    <div> Titre Du Livrable: titre fevrier </div>
    <div> Prix Du Livrable: 600 </div> 
    <div> Nom Du Projet: projet forfait fevrier </div>
    <div> Consultant: consultantForfait </div>
        
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            </body>
</html>
