<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

        <title>VBL Advisory | Conseil en management</title>

        <meta name="description" content="VBL Advisory est un cabinet de conseil en organisation, conduite du changement et insertion opérationnelle"/>
        <meta name="keywords" content="cabinet, paris, consulting, agence, vbl, advisory, consultant, insertion opérationnelle, organisation, conduite de changement"/>
        <meta name="author" content="www.vbladvisory.com"/>

        <link rel="shortcut icon" href="/img/favicon.png" />
                            <link rel="stylesheet" type="text/css" href= "/css/reset.css" />
                <link rel="stylesheet" type="text/css" href="/css/style.css" />
                <link rel="stylesheet" type="text/css" href="/css/style-responsive.css" />				
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                <script src="https://kit.fontawesome.com/9de067ab75.js"></script>
                </head>
    <body>
         

<img width="100" height="100" src="https://media.licdn.com/dms/image/C4D0BAQFYpAkhIY8pig/company-logo_200_200/0?e=1583971200&v=beta&t=iMXVS_9gIWqn9RrJy66Mtg7Cq4SMq-6ZzCLZBHT9m3o"/>

<div class="row">

 <div class="col-sm-4">
    <h6 style="color:#f2e364; font-weight:bold">  VBL ADVISORY </h6> 
    <div> 1 Place Charles De Gaulle </div>
    <div> 78180 Montigny Le Brettoneux </div> 
    <div> contact@vbladvisory.com </div>
    <div> +33 6 61 69 49 12 </div> 
    <div> www.vblconsiel.com </div>
    <br>
    <div> N° SIRET : 78990986800026 </div>
    <div> Code APE : 7022Z </div>
    <div> N° TVA Intracommunautaire : FR22789909868 </div>

 </div> 



   <div class="col-sm-4 offset-sm-6">  
       <h6 style="color:#f2e364; font-weight:bold"> Facture  2019-12-1714701448 </h6>
       <div> Un Client Forfait </div> 
       <div> 88, boulevard Timothée Giraud </div> 
       <div> Telephone: 07 81 50 19 07 </div> 
         

     
  </div> 
  
</div> 


<div class="row">
   <div class="offset-9"> Paris,le 17/12/2019 </div>
</div>




    <table class="table" style="border:0.25px solid grey"> 
      <thead>
        <tr style="background:#f2e364">
            <th class="text-center" style="color:white"> Reference </th>
            <th class="text-center" style="color:white"> Designation </th>
            <th class="text-center" style="color:white"> Quantité </th>
            <th class="text-center" style="color:white"> P.U HT </th>
            <th class="text-center" style="color:white"> Montant HT </th>
            <th class="text-center" style="color:white"> TVA </th>
        </tr> 
      </thead> 

      <tbody> 
          <tr>
            <td class="text-center" style="border-right:1px solid grey"> 2019-12-1714701448 </td>
            <td class="text-center" style="border-right:0.25px solid grey"> <div>prestation  de service VBL Consiel Decembre 2019 </div>
             consultantForfait </td>
            <td class="text-center" style="border-right:0.25px solid grey"> 1 </td>
            <td class="text-center" style="border-right:0.25px solid grey"> </td>
            <td class="text-center" style="border-right:0.25px solid grey"> 500 € </td>
            <td class="text-center" style="border-right:0.25px solid grey"> 20% </td>
            
          </tr> 

          <tr>
             <td colspan="3" style="border-right:0.25px solid grey">
                <div>conditions de reglement: par virement </div>
                <div> IBAN  FR76 3000 4025 9400 0100 0980 677 </div>
                <div> BIC BNPAFRPPXXX </div>
                <div> Domiciliation: BNPPARB PERRAY YVELINES(02594) </div>
                <div> Contact : </div> 
                <div> Bernardo VANDEN BERGHE – Associé </div>
                <div>  Tél: 06.61.69.49.12. </div>
                <div> Mail: bernardovandenberghe@vbladvisory.com </div> 
                

             </td> 

             <td colsapn="2" style="border-right:0.25px solid grey"> 
                <h6> Total H.T </h6>
                <h6> TVA </h6>
                <h6> Montant  </h6>
                <h6> Net A Payer </h6>

             </td>

             <td colspan="2" style="border-right:0.25px solid grey;border-bottom:0.25px solid grey">
                <h6> 500 </h6>
                <h6> 20% </h6>
                <h6> 600 € </h6>
                <h6> 600 € </h6>

             </td>

          </tr> 

         <tr style="border-right:0.25px solid grey;border-left:0.25px solid grey"> 
          <td colspan="3">

          </td> 

          <td colspan="3" style="border-left:0.25px solid grey">
               <div> Echeance: Des Reception de la facture </div>
               <div> Soit un montant du: EUROS </div>
          </td>

         </tr>




      </tbody>

    </table>


        
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            </body>
</html>
