{% extends 'base.html.twig' %} 

{% block body %} 

<h1> Ajout d'un nouveau collaborateur</h1>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }} 
 <button type="submit" class="btn btn-primary">Submit</button>
{{ form_end(form) }}

{% endblock %}