{% extends 'base.html.twig' %}

{% block body %} 
 <h1 class="py-3 text-center"> Documents Initaux </h1>
   
    <table class="table table-responsive-sm">
    <thead>
        <tr class="bg-vbl-1">
            <th> Type de document </th>
            <th> Consulter </th>
            <th> Modifier </th>
        </tr>
    </thead>

    {% for document in consultantInitialDocuments %} 
        <tbody>
            <tr class="text-center">
                <td> {{document.title}} </td>
                <td> <a href="{{path('viewDocument',{'id':document.id,'slug':app.user.slug})}}" class="link"> Voir </a> </td>
                <td> <a href="{{path('modifyInitialDocument',{'id':document.id,'slug':app.user.slug})}}" class="link"> Modifier </a> </td>
            </tr>

        </tbody>

    {% endfor %} 

    </table>

{% endblock %}